<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>everpsgadstag</name>
	<displayName><![CDATA[Ever Ps Google Ads Tag]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module modifies your HTML code to include the tag required by Google Ads to work properly.]]></description>
	<author><![CDATA[Team Ever]]></author>
	<tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to remove the Google Ads Tag?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>